{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

<article class="{{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">
    <header class="post-header">
        <span class="post-meta">
            <time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date format="DD MMM YYYY"}}</time>
            {{#if tags}}on {{tags separator=" &bull; "}}{{/if}}
        </span>

        <h2 class="post-title" itemprop="headline"><a href="{{url}}">{{{title}}}</a></h2>
    </header>

    <section class="post-excerpt">
        <p>{{excerpt}}&hellip;</p>
    </section>
</article>

{{/foreach}}
