{{! This is a custom template page associated to the /projects static page.}}
{{! If you want to have something similar, make sure you modify its content.}}

{{!< default}}

<main role="main">
    <article class="{{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">

        {{#post}}
        <h1 class="post-title">{{title}}</h1>

        {{! Here goes the description of the projects static page. The content of the post is used for this. }}
        <section class="post-content projects-content">
            {{content}}
        </section>

        {{! Here go the static pages. Make sure you modify the links of the pages and their titles. }}
        <p class="project-page">
            <span class="project-title" itemprop="headline">
                <a href="#">
                    <span class="project-name">Project 1</span>
                    <span class="project-description">short description for project 1</span>
                </a>
            </span>
        </p>
        <p class="project-page">
            <span class="project-title" itemprop="headline">
                <a href="#">
                    <span class="project-name">Project 2</span>
                    <span class="project-description">short description for project 2</span>
                </a>
            </span>
        </p>

         <footer class="post-footer">
            <section class="share">
                <h4 class="post-share">Share this page</h4>
                <ul>
                    <li><a href="https://plus.google.com/share?url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <i class="icon icon-gplus"></i>
                    </a></li>
                    <li><a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <i class="icon icon-twitter"></i>
                    </a></li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <i class="icon icon-facebook"></i>
                    </a></li>
                </ul>
           </section>
        </footer>
        {{/post}}

    </article>
</main>
